<!DOCTYPE html>
<html>
  <head>
    <title>AIG WeCover</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="appHeader">
      <div class="inline-div">
        <div class="left">
        <a class="leftLink" href="<%= home_pages_path %>"><h2 id="mainHeader"><%= image_tag "house.png", size: "20x20", :class => "style_image_left" %>My Phone Warehouse</h1></div>
        </a>

        <div class="right">
        <a class="rightLink" href="<%= account_path %>"><h2 id="accountHeader"><%= image_tag "hamburger.png", size: "20x20", :class => "style_image"%> My Account</h2></div>
        </a>
    </div>
      
    </div>

    <%= yield %>
  </body>
</html>
